<div class="main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Add Installment</h1>
        </div>
    </div>
    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">

            <div class="col-md-10">

                <div class="card">

                    <article class="card-body">

                        <form #InstallmentForm="ngForm">

                            <div class="form-group">
                                <label>Batch ID</label>
                                <div class="alert alert-warning" *ngIf='batch.invalid'></div>
                                <select name="batch"  [(ngModel)]="installment.batch.batchId" class="form-control" required #batch="ngModel">
                                    
                                    <option *ngFor="let batch of batches" [value]="batch.batchId">Batch Code: {{batch.code}} Course: {{batch.course.certiTitle}}</option>
                                </select>
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Amount</label>
                                <div class="alert alert-warning" *ngIf='amount.invalid'></div>
                                <input [(ngModel)]="installment.amt" type="text" class="form-control"
                                placeholder="Amount" name="amt" #amount = "ngModel" required>

                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Receipt No.</label>
                                <div class="alert alert-warning" *ngIf='receipt.invalid'></div>
                                <input [(ngModel)]="installment.receiptNo" type="text" class="form-control"
                                placeholder="Receipt Number" name="receipt" #receipt = "ngModel" required>

                            </div> <!-- form-group end.// -->
                            <div class="form-group">

                                <label>Date</label>
                                <div class="alert alert-warning" *ngIf='date.invalid && date.touched'></div>
                                <input [ngModel]="student.dob|date:'yyyy-MM-dd' " (ngModelChange)="inastallment.instDate= $event" class="form-control" type="date" required
                                    placeholder="Date of Payment" name="date" #date="ngModel">
                            </div>
                            <div class="form-group">
                                <label>Person Accepting</label>
                                <div class="alert alert-warning" *ngIf='person.invalid'></div>
                                <select name="person"  [(ngModel)]="installment.person.personId" class="form-control" required #person="ngModel">
                                    
                                    <option *ngFor="let p of persons" [value]="p.personId">{{p.personName}}</option>
                                </select>
                            </div> <!-- form-group end.// -->   
                            
                        </form>

                    </article> <!-- card-body end .// -->

                    <div class="border-top card-body text-center"><button type="submit" (click) = "addInstallment()"
                            class="btn btn-success">Submit</button></div>
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div>