<div class="main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Sessions</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">

            <div class="col-md-10">

                <div class="card">

                    <article class="card-body">

                        <form #BranchForm = "ngForm" (ngSubmit)="submitForm()" >

                            <div class="form-group">

                                <label>Session Name</label>
                                <div class="alert alert-warning" *ngIf='sessionName.invalid && sessionName.touched'>Please enter session name.</div>
                                <input [(ngModel)]="session.sessionName" type="text" class="form-control" required placeholder="Session Name"  name="sessionName" #sessionName="ngModel"> 

                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                               <label>Start Date</label>
                               <div class="alert alert-warning" *ngIf='startDate.invalid && startDate.touched'>Please enter session start date.</div>
                               <input [ngModel]="session.startDate|date:'yyyy-MM-dd' "
                               (ngModelChange)="session.startDate= $event" class="form-control" type="date" required placeholder="startDate" name="startDate" #startDate="ngModel">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>End Date</label>
                                <div class="alert alert-warning" *ngIf='endDate.invalid && endDate.touched'>Please enter session end date.</div>
                                <input [ngModel]="session.endDate|date:'yyyy-MM-dd' "
                                (ngModelChange)="session.endDate= $event" class="form-control" type="date" required placeholder="endDate" name="endDate" #endDate="ngModel">

                             </div> <!-- form-group end.// -->
                             <div class="border-top card-body text-center"><button type="submit" class="btn btn-success">Submit</button></div>
                             
                        </form>

                    </article> <!-- card-body end .// -->

                   


                </div> <!-- card.// -->
            </div> <!-- col.//-->


        </div> 