<div class="main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Colleges</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">

            <div class="col-md-10">

                <div class="card">

                    <article class="card-body">

                        <form #CollegeForm="ngForm" (ngSubmit)="submitForm()">

                            <div class="form-group">

                                <label>College Name</label>
                                <div class="alert alert-warning" *ngIf='name.invalid && name.touched'>Please enter college name.</div>
                                <input  name="col" [(ngModel)]="college.name" type="text" class="form-control" placeholder="Name" name="name" required #name="ngModel">

                            </div> <!-- form-group end.// -->

                            <div class="form-group">
                                <div class="alert alert-warning" *ngIf='group.invalid && group.touched'>Please enter college group.</div>
                               <label>College Group</label>

                                <input [(ngModel)]="college.group" class="form-control" type="text" required placeholder="Group" name="group" #group="ngModel">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">
                                <div class="alert alert-warning" *ngIf='city.invalid && city.touched'>Please enter session name.</div>
                                <label>College City</label>
 
                                 <input [(ngModel)]="college.city" class="form-control" type="text" required placeholder="City" name="city" #city="ngModel">
                             </div> <!-- form-group end.// -->

                             <div class="border-top card-body text-center"><button type="submit" class="btn btn-success">Submit</button></div>

                        </form>

                    </article> <!-- card-body end .// -->

                    


                </div> <!-- card.// -->
            </div> <!-- col.//-->


        </div> <!-- row.//-->


    </div>
</div>