
  .header1 {
      margin-left: 70px;
      margin-top: 10px;
  }

  .text {
    font-size: 18px;
  }
  .home{
    /* position: relative;
    float: right; */
    margin-right: -1100px;
    font-size: 20px;
    font-weight: 500;
  }

  .text2 {
    font-size: 20px;
    font-weight: bold;
  }
  /* header {
    position: relative;
    
    z-index: 999;
  
    width: 100%;
    height: 110px;
  
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
  }
   */
  header h1 {
    margin: 0;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 18px;
    float: left;
  }
  
  .wrapper {
    /*margin-top: 50px;*/
    padding: 15px 30px;
    transition: all 0.3s ease-out;
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  
  
  /* Small devices (tablets)
  ==========================*/
  @media (min-width: 768px) {
  
  }
  
  
  /* Medium devices (desktops)
  ==========================*/
  @media (min-width: 992px) {
  
    body {
      overflow-y: scroll;
    }
  
    .logo img {
      width: 200px;
      text-align: center;
      margin-top: 10px;
      float: none;
    }
  
    .wrapper {
      margin-left: 280px;
      position: relative;
      height: 100%;
    }
  
    .wrapper__minify {
      margin-left: 50px;
    }
  
  }