@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@media only screen and (min-width: 992px) {
.moti{
margin-left:25px;
}

.b{
margin-left:20px;
margin-right:20px;
}
.home {
	margin-left: 590px;
}
.b3{
margin-left:30px;
margin-right:30px;
}
@media only screen and (min-width: 1200px) {
.moti{
margin-left:25px;
}
.home {
	margin-left: 860px;
}
.b{
margin-left:20px;
margin-right:20px;
}
.b3{margin-left:30px;
margin-right:30px;
}
}

@media only screen and (max-width: 600px) {
.b{margin:5px;}
.b3{
margin-top:15px;
margin-bottom:15px;}
.b2{margin-top:15px;}
}


.fixed-top{background-color:white !important;}
.social-card-header{
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 30px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.bg-facebook {
    background-color:#3b5998;
}
.text-facebook {
    color:#3b5998;
}
.bg-google-plus{
    background-color:#dd4b39;
}
.text-google-plus {
    color:#dd4b39;
}
.bg-twitter {
    background-color:#1da1f2;
}
.text-twitter {
    color:#1da1f2;
}
.bg-pinterest {
    background-color:#bd081c;
}
.text-pinterest {
    color:#bd081c;
}
.share:hover {
        text-decoration: none;
    opacity: 0.8;
}.tanya{height:200px;}

.car {
    width: 100%;
    height: 600px;
    object-fit:cover;
  }
/*.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit:cover;
  }*/
.centered {
  /* position: absolute; */
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.welcome{font-size:130%;}
.welcome1{margin-left:500px;margin-bottom:40px;}
.line{
  
content: "";
  
display: inline-block;
  
width: 100%;
  
height: 100%;

margin-right:300px;  
left: 0;
  
top: 0;
  
/* position: absolute; */
  
border: 9px solid #fff;
  
-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  
clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);

}

.line1{
  
content: "";
  
display: inline-block;
  
width: 100%;
  
height: 100%;

margin-right:300px;  
left: 0;
  
top: 0;
  
/* position: absolute; */
  
border: 9px solid #fff;
  
-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  
clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .abc {
	font-size:1.5rem;
	color:white;
	font-weight:300;
	margin-left:20px;
	margin-top:20px;
	}
  .abcd{
	font-size:2.0rem;
	color:white;
	font-weight:345;
	margin-left:20px;
	line-height:1.2;
	}
  .abcde{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.5;
	margin-left:20px;
	margin-bottom:20px;
	}
.centered {
  	/* position: absolute; */
  	top: 50%;
  	left: 45%;
  	transform: translate(-50%, -50%);
}
 .a{
	font-size:1.5rem;
	color:white;
	font-weight:300;
	margin-left:20px;
	margin-top:20px;
	}
  .a1{
	font-size:2.0rem;
	color:white;
	font-weight:345;
	margin-left:20px;
	line-height:1.2;
	}
  .a2{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.5;
	margin-left:20px;
	margin-bottom:20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .abc {
	font-size:1.5rem;
	color:white;
	font-weight:300;
	margin-left:20px;
	margin-top:20px;
	}
  .abcd{
	font-size:2.0rem;
	color:white;
	font-weight:340;
	margin-left:20px;
	line-height:0.8;
	}
  .abcde{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:20px;
	margin-bottom:20px;
	}
.a {
	font-size:1.5rem;
	color:white;
	font-weight:300;
	margin-left:20px;
	margin-top:20px;
	}
  .a1{
	font-size:2.0rem;
	color:white;
	font-weight:340;
	margin-left:20px;
	line-height:0.8;
	}
  .a2{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:20px;
	margin-bottom:20px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .abc {
	font-size:2.0rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
   .abcd{
	font-size:2.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	margin-left:45px;
	}
  .abcde{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
.a{
	font-size:2.0rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
.a1{
	font-size:2.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	margin-left:45px;
	}
.a2{
	font-size:1.0rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .abc {
	font-size:2.5rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
   .abcd{
	font-size:3.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	}
  .abcde{
	font-size:1.5rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
 .a {
	font-size:2.5rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
   .a1{
	font-size:3.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	}
  .a2{
	font-size:1.5rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .abc {
	font-size:2.5rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
.a {
	font-size:2.5rem;
	color:white;
	font-weight:300;
	margin-left:45px;
	margin-top:40px;
	}
  .abcd{
	font-size:3.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	}
 .a1{
	font-size:3.5rem;
	color:white;
	font-weight:340;
	line-height:0.8;
	}
  .abcde{
	font-size:1.5rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
 .a2{
	font-size:1.5rem;
	color:white;
	font-weight:300;
	line-height:1.7;
	margin-left:45px;
	margin-bottom:40px;
	}
}



body{
	color: #505962;
	/* //color:black; */
}

.vedi{
	letter-spacing: .3rem;
	color:black;
	font-weight: 200;
	font-size: 1.5rem;
	margin-top:12px;
}





.b1{
	color:black !important;
}



.row1{
	
	padding-bottom:100px;
}

.jumbotron{
    padding: 0rem 0rem;
    margin-bottom: 0rem;
   /* // background-color: #e9ecef; */
   border-radius: .0rem;
     background-color: #f3f8fe;
    margin-left: 0rem;
   padding-left:0rem;
}
.u1{ width:300px; 
height:180px;
 }
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  /* //border-radius: 20px;  */
background-color: #f3f8fe;
}
h1{color:black;
font-weight:100;

}
h5{color:black;
font-weight:320;

}
.item0:hover{
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);	
}

.item1{
	-webkit-box-shadow: -1px 9px 30px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 30px -10px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 30px -10px rgba(0,0,0,0.15);	
}

.item2{
	-webkit-box-shadow: -1px 9px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 20px -10px rgba(0,0,0,0.75);
	box-shadow: -1px 7px 30px -8px rgba(0,0,0,0.15);	
}

.login{font-weight:100;}
/*
.card-base > .card-icon {
        
text-align: center;
       
position: relative;
    
}

.imagecard { 
    
z-index: 2;
    
display: block;
    
positioN: relative;
    
width: 88px;
    
height: 88px;
    
border-radius: 50%;
    
//border: 5px solid white;
    
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    
margin: 0 auto;
    
//color: white;

}

.card-base > .card-icon > .card-data {
    
min-height: 250px !important;
    
margin-top: -40px;
    
background: white;
    
border: 1px solid #e0e0e0;
  
border-top: 3px solid blue !important;
 
border-radius: 3%;
     
padding: 15px 0 10px 0;
     
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    
min-height: 380px !important;
    
min-width: 200px !important;
   
}
    
 

.card-footer{
    float: left;
    display: block;
    //margin-right: 0%;
    width: 99.5%;
    border-radius: 0 0 8px 8px;
    bottom: 0;
    background-color: #f7f7f8;
    position: absolute;
    height: 40px !important:
}
*/
.img2{
	height:200px;
}
.m{
	padding-top:80px;
}

header1{
	padding-left:200px;
}
.prof{font-weight:100;
}

h6{color: #7d97ad;}

.foo{padding-top:100px;}

.foo1{text-align:center;
font-size:70%;
padding-bottom:60px;
padding-top:20px;}

.foo2{height:10px;
width:10px;}

.row0_1{
border-top-left-radius:8px;	
border-bottom-left-radius:8px;
padding-left:0px !important;
max-width:100%;	
}

.card-horizontal {
   display: flex;
    flex: 1 1 auto;
border-top-left-radius:8px;	
border-bottom-left-radius:8px;
}
.u{font-weight:50;}
.img{ object-fit: cover;}


::placeholder {
  color: red;
  /* //opacity: 1; Firefox */
}

/*-------------------------------------------------------course_details Css-------------------------*/


#accordion5 .panel
{
    
border: none;
    
border-radius: 0;
    
box-shadow: none;
    
margin: 0 0 15px 50px;

/* //width:800px; */
}

#accordion5 .panel-title a
{
    
display: block;
    
padding: 10px 20px 10px 60px;
    
background: white;
    
border-radius: 30px;
    
border: 2px solid lavender;
    
font-size: 20px;
    
font-weight:400;
    
color: black;
    
/* position: relative; */

}

#accordion5 .panel-title a.collapsed
{
    
border: 2px solid lavender;
    
background: white;
    
color: black;

}

#accordion5 .panel-title a:before,
#accordion5 .panel-title a.collapsed:before
{
    
content: "\f068";
    
font-family: "Font Awesome 5 Free";
    
font-weight: 900;
    
width: 60px;
    
height: 60px;
    
line-height: 60px;
    
border-radius: 50%;
    
background: lavender;
    
font-size: 18px;
    
color: black;
    
text-align: center;
    
border-right: 3px solid blue;
    
/* position: absolute; */
    
top: -10px;
    
left: -30px;
    
z-index: 1;
    
transition: all 0.3s ease 0s;

}

#accordion5 .panel-title a.collapsed:before
{
    
content: "\f067";
    
background: lavander;
    
border: none;

}

#accordion5 .panel-body
{
    
padding: 10px 15px 0;
    
margin: 0 0 0 30px;
    
border: none;
    
font-size: 20px;
    
color: brown;
    
line-height: 28px;
    
/* position: relative; */

}

#accordion5 .panel-body:before
{
    
content: "";
    
display: block;
    
width: 5px;
    
height: 90%;
    
background: lavender;
    
/* position: absolute; */
    
top: 0;
    
left: -30px;

}

#accordion5 .panel-body:after
{
    
content: "";
    
border-top: 20px solid lavender;
    
border-left: 20px solid transparent;
    
border-right: 20px solid transparent;
    
/* position: absolute; */
    
bottom: 0;
    
left: -48px;

}

/*-------------------------------------------------------course_details Css end-------------------------*/



/*-------------------------------------------------------Contact Us Css-------------------------*/
.contact-form{
    
background: none;
    
margin-top: 4%;
    
/* //margin-bottom: 5%; */
    
width: 100%;

padding-left:200px;
padding-right:200px;
}


.contact1{
border: 1px solid blue;

border-radius:20px; 
margin:40px;
}

.contact-form .form-control{
    
border-radius:1rem;

}

.contact-image{
    
text-align: center;

padding-top: 5%;

}

.contact-image img
{
    
border-radius: 6rem;
    
width: 11%;

background: blue;
      
margin-top: 3%;
    
transform: rotate(29deg);

}

.contact-form form
{
    
padding: 10%;

}

.contact-form form .row
{
    
margin-bottom: -7%;

}

.contact-form h3
{
    
margin-bottom: 8%;
    
margin-top: -10%;
    
text-align: center;
    
color: #0062cc;

}

.contact-form .btnContact 
{
    
width: 50%;
    
border: none;
    
border-radius: 1rem;

margin-top:15px;    
padding: 1.5%;
    
background: blue;
    
font-weight: 600;
    
color: #fff;
    
cursor: pointer;

}

.btnContactSubmit
{
    
width: 50%;
    
border-radius: 1rem;
    
padding: 1.5%;
    
color: #fff;
    
background-color: blue;
    
border: none;
   
cursor: pointer;

}
.pd-80{padding-bottom:100px;}
/*-------------------------------------------------------Contact Us Css End-------------------------*/




/*----------------------------------------------------Service page CSS----------------------------------------*/

.style-3 .single-service 
{
  
text-align: center;
   
padding: 25px 40px;
  
-webkit-transition:.4s;
  
transition: .4s;

}

.services {
	
background-color: #FBFBFB;

}


.section-title h1:before {
	
/* position: absolute; */
	
content: "";	
width: 80px;
	
height: 2px;
	
background-color: #d8d8d8;
	
bottom: 0;
	
left: 50%;
	
margin-left: -40px;

}


.section-title h1:after {
	
/* position: absolute; */
	
content: "";

	
width: 50px;
	
height: 2px;
	
background-color: #FF7200;
	
left: 0;
	
bottom: 0;
	
left: 50%;
	
margin-left: -25px;

}

.pt-100 {
	
padding-top: 80px;

}

.pb-100 {
	
padding-bottom: 100px;

}

.mb-100{
    
margin-bottom:50px;

}



.style-3 .single-service i.fa 
{
  
width: 80px;
  
height: 80px;
  
font-size: 50px;
  
line-height: 80px;
  
border: 1px solid blue;
  
margin-bottom: 30px;
  
border-radius: 60%;
  
color: blue;
  
-webkit-transition:.4s;
  
transition: .4s;

}


.style-3 .single-service:hover i.fa 
{

background-color: #FF7200;
/* //#0bbbc1; */
  
color: #fff;
  
border-color: #d8d8d8;
/* //blue; */

}


.single-service p
{
font-size: 15px;
 
margin-top:25px;
}

.style-4
{
border-radius:20px;
}

.section-title h1
{
font-size:350%;
}


/*----------------------------------------------------Service page CSS End----------------------------------------*/


.about
{
font-weight:400;
}




}