<div class="wrapper main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">FEES</h1>
        </div>
    </div>
    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">
            <article class="card-body col-md-11">
                <table [dtOptions]="dtOptions" datatable class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Batch</th>
                            <th>Amount</th>
                            <th>Due Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fees of feesList">
                            <td>{{fees.batchId}}</td>
                            <td>{{fees.feeAmount}}</td>
                            <td>{{fees.dueDate}}</td>
                            <td>{{fees.mode}}</td>
                            <td>
                                <button (click)="editFeesDetails(fees.batchId)" class="btn btn-primary">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </article>

        </div>
        
        <div class="container">
            <button (click)="addFeesDetails()" class="btn btn-success" >New Fees</button>
        </div>
</div>