<div class="wrapper main-header">

    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">BRANCHES</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
       
        <div class="row justify-content-center pt-6">
            <article class="card-body col-md-11">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>BRANCH NAME</th>
                            <th>CITY</th>
                            <th>EDIT/VIEW</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let branch of branches">
                            <td>{{branch.branchId}}</td>
                            <td>{{branch.branchName}}</td>
                            <td>{{branch.city}}</td>
                            <td><button (click)="editBranch(branch.branchId)" class="btn btn-primary">EDIT</button>/
                                <button (click)="getBranchById(branch)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalScrollable">
                                    VIEW</button>
                            </td>
                            <!-- <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </article>
            </div> <!-- row.//-->

            <div class="container">
                <button (click)="addBranch()" class="btn btn-success">New Branch</button>
            </div>

                        
                    





        </div>

        <!--container end.//-->
    </div>


    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Vedisoft Branch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Branch ID: {{branch.branchId}}</li>
            <li class="list-group-item">Branch Name: {{branch.branchName}}</li>
            <li class="list-group-item">Branch Prefix: {{branch.branchPrefix}}</li>
            <li class="list-group-item">Plot Number: {{branch.plotNo}}</li>
            <li class="list-group-item">Locality: {{branch.locality}}</li>
            <li class="list-group-item">Street: {{branch.street}}</li>
            <li class="list-group-item">City: {{branch.city}}</li>
            <li class="list-group-item">State: {{branch.state}}</li>
            <li class="list-group-item">Branch Manager: {{branch.branchManager}}</li>
            <li class="list-group-item">Contact Number: {{branch.branchContactNo}}</li>
            <li class="list-group-item">Courses Offered: {{branch.multipleCourses}}</li>
            <li class="list-group-item">Established Date: {{branch.estbDate | date}}</li>
            <li class="list-group-item">Latitude Longitude: {{branch.latLong}}</li>
          </ul>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  