
@media only screen and (min-width: 992px) {
    .moti{
    margin-left:45px;
    margin-top: 15px;
    margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1200px) {
    .moti{
        margin-left:45px;
        margin-top: 15px;
        margin-bottom: 15px;
    }   

}
.main-sidebar {
    height: 250%;
    width: 270px;
    }

.report {
    font-size: 13px;
}


