<aside class="main-sidebar sidebar-light-primary elevation-5">


  <img class="header1 moti" src="../assets/img/logo.png" height="80px">

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Masters
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/branches" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Branches</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/session" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sessions</p>
              </a>

            </li>
            <li class="nav-item">
              <a routerLink="/course" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Courses</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/personType" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Person Type</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/person" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Person</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/college" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Colleges</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Transactions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/batch" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Batches</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/fees" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fees</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/student" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/allot" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Allot</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/installments" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Installments</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/certi" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Certificate Request</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Queries
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink='queries/student-report' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="queries/printreceipt" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Print Receipt</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Reports
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="reports/daybook" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Day Book</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="reports/gst" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">GST</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="reports/collegewisestudents" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">College wise Students</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/branchwiseCollection' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Fee Collection Branchwise</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/batchWiseCollection' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Fee Collection Batchwise</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/facultywiseCollection' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Faculty wise Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/sessionwiseCollection' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Sessionwise Fee Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/coursewiseCollection' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Coursewise Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/branchwisestudent' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Branchwise Student Enrollments</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/sessionwisestudent' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Sessionwise Student</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink='reports/badDebts' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Bad debts</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Charts
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">GST</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">College wise Students</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Fee Collection Branchwise</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Faculty wise Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Sessionwise Fee Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Coursewise Collection</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Branchwise Student Enrollments</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Sessionwise Student</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="report">Bad debts</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>