<div class="wrapper main-header">

    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Certificate Request</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
       
        <div class="row justify-content-center pt-6">
            <article class="card-body col-md-10">
                <table [dtOptions]="dtOptions" datatable class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Batch</th>
                            <th>Fee Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>JAVA 2020</td>
                            <td>Paid</td>
                            <td><button class="btn btn-success">Send Request</button> /
                                <button class="btn btn-warning">Delivered</button> /
                                <button class="btn btn-warning">Prepared</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>C C++</td>
                            <td>Paid</td>
                            <td><button class="btn btn-success">Send Request</button> /
                                <button class="btn btn-warning">Delivered</button> /
                                <button class="btn btn-warning">Prepared</button></td>
                        </tr>
                    </tbody>
    
    
    
    
    
    
    
    
                </table>
            </article>

            <div class="col-md-10">

                <div class="card">



                    <article class="card-body">

                        <form>

                            <div class="form-group">

                                <label>Registration Number</label>

                                <input type="text" class="form-control" placeholder="Reg Number" required>


                            </div> <!-- form-group end.// -->


                            <div class="form-group">

                                <label>Batch</label>

                                <input class="form-control" type="text" required placeholder="Batch">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Registration Date</label>

                                <input class="form-control" type="text" required placeholder="Reg Date">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Delivered Date</label>

                                <input class="form-control" type="text" required placeholder="Delivered Date">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Delivered To</label>

                                <input class="form-control" type="text" required placeholder="Delivered To">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Contact Number</label>

                                <input class="form-control" type="text" required placeholder="Contact">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Delivery Status</label>

                                <input class="form-control" type="text" required placeholder="Status">
                            </div> <!-- form-group end.// -->

                            <div class="form-group mt-3">

                                <button type="submit" class="btn btn-primary btn-block item"> Find </button>

                            </div> <!-- form-group// -->

                        </form>

                    </article> <!-- card-body end .// -->




                </div> <!-- col.//-->


            </div> <!-- row.//-->

            

                        
                    





        </div>

        <!--container end.//-->
    </div>