<div class="main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Batches</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">

            <div class="col-md-10">

                <div class="card">

                    <article class="card-body">

                        <form #batchForm="ngForm" (ngSubmit)="submitForm()">

                            <div class="form-group">

                                <label>Faculty</label>
                                <div class="alert alert-warning" *ngIf='faculty.invalid && faculty.touched'>Please select faculty name.</div>
                                <select name="faculty"  [(ngModel)]="batch.facultyId" class="form-control" required #faculty="ngModel">
                                    <option value="1">Rohit Ahuja</option>
                                    <option value="2">Ram</option>
                                    <option value="3">Raveesh</option>
                                </select>

                            </div> 

                            <div class="form-group">
                                

                                <label>Course</label>
                                <div class="alert alert-warning" *ngIf='course.invalid && course.touched'>Please enter course name.</div>
                                <select name="course"  [(ngModel)]="batch.course.id" class="form-control" required #course="ngModel">
                                    
                                    <option *ngFor="let course of courseList" [value]="course.id">{{course.certiTitle}}</option>
                                </select>
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Timings</label>
                                <div class="alert alert-warning" *ngIf='timings.invalid && timings.touched'>Please enter batch timings.</div>
                                <input [(ngModel)]="batch.timings" class="form-control" type="text" required
                                    placeholder="timings" name="timings" #timings="ngModel">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Starting Date</label>
                                <div class="alert alert-warning" *ngIf='startDate.invalid && startDate.touched'>Please enter starting date.</div>
                                <input [ngModel]="batch.sdate|date:'yyyy-MM-dd'" (ngModelChange)="batch.sdate=$event" class="form-control" type="date" required
                                    placeholder="startDate" name="startDate" #startDate="ngModel">
                            </div>

                            <div class="form-group">

                                <label>Days</label>
                                <div class="alert alert-warning" *ngIf='days.invalid && days.touched'>Please enter batch days.</div>
                                <input [(ngModel)]="batch.days" class="form-control" type="text" required
                                    placeholder="days" name="days" #days="ngModel">
                            </div>

                            <div class="form-group">

                                <label>End Date</label>
                                <div class="alert alert-warning" *ngIf='endDate.invalid && endDate.touched'>Please enter ending date.</div>
                                <input [ngModel]="batch.enddate|date:'yyyy-MM-dd'" (ngModelChange)="batch.enddate=$event" class="form-control" type="date" required
                                    placeholder="endDate" name="endDate" #endDate="ngModel">
                            </div>

                            <div class="form-group">

                                <label>Sessions</label>
                                <div class="alert alert-warning" *ngIf='session.invalid && session.touched'>Please select session.</div>
                                <select [(ngModel)]="batch.session.sessionId" class="form-control"name="session" required #session="ngModel">
                                    <option *ngFor="let session of sessionList" [value]="session.sessionId">{{session.sessionName}}</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <label>Status</label>
                                <div class="alert alert-warning" *ngIf='status.invalid && status.touched'>Please enter batch status.</div>
                                <input [(ngModel)]="batch.status" class="form-control" type="text" required
                                    placeholder="status" name="status" #status="ngModel">
                            </div>

                            <!-- <div class="form-group">

                                <label>Branch</label>
                                <div class="alert alert-warning" *ngIf='branch.invalid && branch.touched'>Please enter branch name.</div>
                                <input [(ngModel)]="batch.branch.branchName" class="form-control" type="text" required
                                    placeholder="branch" name="branch" #branch="ngModel">
                            </div> -->

                            <div class="form-group">
                                

                                <label>Branch</label>
                                <div class="alert alert-warning" *ngIf='branch.invalid && branch.touched'>Please select branch name.</div>
                                <select name="branch"  [(ngModel)]="batch.branch.branchId" class="form-control" required #branch="ngModel">
                                    
                                    <option *ngFor="let branch of branchList" [value]="branch.branchId">{{branch.branchName}}</option>
                                </select>
                            </div> <!-- form-group end.// -->
                            
                    <div class="border-top card-body text-center"><button type="submit"
                        class="btn btn-success">Submit</button></div>

                        </form>

                    </article> <!-- card-body end .// -->



                </div> <!-- card.// -->
            </div> <!-- col.//-->


        </div> <!-- row.//-->


    </div>
</div>