<div class="main-header">
    <div class="container-fluid flu mb-5">
        <div class="service">
            <h1 class="logo pt-5">Batches</h1>
        </div>
    </div>



    <div class="container mb-5 pb-5 pt-3 mt-3">
        <div class="row justify-content-center pt-6">

            <div class="col-md-10">

                <div class="card">

                    <article class="card-body">

                        <form #batchForm="ngForm" (ngSubmit)="submitForm()">

                            <div class="form-group">

                                <label>Faculty</label>
                                <div class="alert alert-warning" *ngIf='faculty.invalid && faculty.touched'>Please select faculty name.</div>
                                <select name="faculty"  [(ngModel)]="batch.faculty" class="form-control" required #faculty="ngModel">
                                    <option value="1">Rohit Ahuja</option>
                                    <option value="2">Ram</option>
                                    <option value="3">Raveesh</option>
                                </select>

                            </div> <!-- form-group end.// -->
                            <!-- public batchId:number,
    public faculty:string[],
    public course:string[],
    public timings:string,
    public startDate:Date,
    public days:string,
    public endDate:Date,
    public session:Session,
    public status:string,
    public branch:string -->

                            <div class="form-group">
                                

                                <label>Course</label>
                                <div class="alert alert-warning" *ngIf='course.invalid && course.touched'>Please enter course name.</div>
                                <select name="course"  [(ngModel)]="batch.course" class="form-control" required #course="ngModel">
                                    <option value="JAVA">Java</option>
                                    <option value="C++">C++</option>
                                    <option value="Python">Python</option>
                                    <option value="Spring">Spring</option>
                                </select>
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Timings</label>
                                <div class="alert alert-warning" *ngIf='timings.invalid && timings.touched'>Please enter batch timings.</div>
                                <input [(ngModel)]="batch.timings" class="form-control" type="text" required
                                    placeholder="timings" name="timings" #timings="ngModel">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">

                                <label>Starting Date</label>
                                <div class="alert alert-warning" *ngIf='startDate.invalid && startDate.touched'>Please enter starting date.</div>
                                <input [ngModel]="batch.startDate|date:'yyyy-MM-dd'" (ngModelChange)="batch.startDate=$event" class="form-control" type="date" required
                                    placeholder="startDate" name="startDate" #startDate="ngModel">
                            </div>

                            <div class="form-group">

                                <label>Days</label>
                                <div class="alert alert-warning" *ngIf='days.invalid && days.touched'>Please enter batch days.</div>
                                <input [(ngModel)]="batch.days" class="form-control" type="text" required
                                    placeholder="days" name="days" #days="ngModel">
                            </div>

                            <div class="form-group">

                                <label>End Date</label>
                                <div class="alert alert-warning" *ngIf='endDate.invalid && endDate.touched'>Please enter ending date.</div>
                                <input [ngModel]="batch.endDate|date:'yyyy-MM-dd'" (ngModelChange)="batch.endDate=$event" class="form-control" type="date" required
                                    placeholder="endDate" name="endDate" #endDate="ngModel">
                            </div>

                            <div class="form-group">

                                <label>Sessions</label>
                                <div class="alert alert-warning" *ngIf='session.invalid && session.touched'>Please select session.</div>
                                <select [(ngModel)]="batch.session" class="form-control"name="session" required #session="ngModel">
                                    <option value="ABC">s1</option>
                                    <option value="xyz">s2</option>
                                    <option value="s3">s3</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <label>Status</label>
                                <div class="alert alert-warning" *ngIf='status.invalid && status.touched'>Please enter batch status.</div>
                                <input [(ngModel)]="batch.status" class="form-control" type="text" required
                                    placeholder="status" name="status" #status="ngModel">
                            </div>

                            <div class="form-group">

                                <label>Branch</label>
                                <div class="alert alert-warning" *ngIf='branch.invalid && branch.touched'>Please enter branch name.</div>
                                <input [(ngModel)]="batch.branch" class="form-control" type="text" required
                                    placeholder="branch" name="branch" #branch="ngModel">
                            </div>
                            
                    <div class="border-top card-body text-center"><button type="submit"
                        class="btn btn-success">Submit</button></div>

                        </form>

                    </article> <!-- card-body end .// -->



                </div> <!-- card.// -->
            </div> <!-- col.//-->


        </div> <!-- row.//-->


    </div>
</div>